<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/support/phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Unit-Test-Suite">
            <directory suffix="-Test.php">test/unit</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Search API Integration Test Suite">
            <directory suffix="-Test.php">test/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="coverage/phpunit.cov" />
        <!-- <log type="coverage-clover" target="coverage/clover.xml"/> -->
        <log type="coverage-html" target="coverage/"/>
    </logging>
</phpunit>
